$primary-color: #223A47
$secondary-color: #F27257

// body styles
body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 18px
  line-height: 1.25

// header section styles
#wrapper-navbar
  margin-bottom: -360px

  .top-header-holder
    height: 260px
    background: #f1f1f1

  #main-nav
    border-top: 1px solid rgba(#5DA0AA, 0.5)
    border-bottom: 1px solid rgba(#5DA0AA, 0.5)
    padding: 0

  #menu-primary
    flex: 1
    justify-content: space-between

    .menu-item
      a
        display: inline-block
        font-weight: 600
        font-size: 22px
        text-transform: uppercase
        color: $primary-color
        padding: 1.5em 0.5em

      &.current-menu-item

        a
         color: $secondary-color

.home-banner
  height: 1080px
  background-image: url('../../images/home-banner.jpg')
  background-size: cover