// color vars
$primary-color: #223A47
$secondary-color: #F27257

// breakpoints vars
$xl: 1440px
$lg: 992px //tablet
$md: 768px
$sm: 576px

// body styles
body
  font-family: 'Source Sans Pro', sans-serif
  font-size: 18px
  line-height: 1.25

// header section styles

.mobile-logo-holder
  text-align: center
  display: none

  @media(max-width: $md)
    display: block

  img
    width: 66%
    margin-top: 10px
    margin-bottom: 10px

    @media(max-width: $sm)
      width: 85%

.reservation-btn
  font-family: 'Fredericka the Great', sans-serif
  font-size: 38px
  border: 1px dotted $secondary-color
  display: inline-block
  padding: 0.25em 0.5em
  border-radius: 0.25em
  transition: 0.25s ease all
  cursor: pointer
  text-decoration: none

  &:hover
    background: $secondary-color
    color: #fff

  @media(max-width: $lg)
    font-size: 18px

  @media(max-width: $md)
    display: none

    &.reservation-btn-mobile
      display: block
      //width: 85%
      //margin: 10px auto 0


#wrapper-navbar
  margin-bottom: -360px

  @media(max-width: $lg)
    margin-bottom: 0

  .top-header-holder
    height: 260px
    padding-top: 50px
    padding-bottom: 50px

    @media(max-width: $lg)
      padding-top: 30px
      padding-bottom: 30px
      height: auto

    @media(max-width: $md)
      padding-top: 15px
      padding-bottom: 15px

    .navbar-toggler
      padding: 1em 1em 0
      display: none

      @media(max-width: $lg)
        display: block

      &:hover
       background: rgba(#5DA0AA, 0.25)

      .bar
        height: 4px
        border-radius: 4px
        background: rgba(#5DA0AA, 0.5)
        margin-bottom: 4px
        width: 2em

      .menu-title
        font-size: 14px
        margin-top: 2.5em
        text-transform: uppercase
        font-weight: 600

      &.md-view
        display: none

      @media(max-width: $md)
        display: none

        &.md-view
          display: flex
          padding: 0.5em
          align-items: center
          margin: -0.5em

        .menu-title
          margin-top: 0
          margin-right: 0.7em
          font-size: 18px

        .bar
          height: 3px
          border-radius: 3px
          background: rgba(#5DA0AA, 0.5)
          margin-bottom: 3px
          width: 1em


    .logo-holder
      display: block

      img
        width: 275px

        @media(max-width: $lg)
          width: 200px

        @media(max-width: $md)
          display: none

    .col-6
      @media(max-width: $lg)
        text-align: center

    .social-media-holder,
    .social-media-holder-tablet
      font-size: 50px

      a
        color: $secondary-color
        text-decoration: none

        &:hover
          color: darken($secondary-color, 15%)
      @media(max-width: $lg)
        display: none

    .social-media-holder-tablet
      display: none

      @media(max-width: $lg)
        display: inline-block
        font-size: 18px

      @media(max-width: $md)
        display: none


    .contact-holder
      font-size: 18px
      font-weight: 600

      @media(max-width: $md)
        display: flex
        justify-content: space-between

      a
        display: inline-block
        margin-right: 1em
        margin-bottom: 1em
        color: $primary-color

        @media(max-width: $lg)
          margin-right: 0.5em
          margin-bottom: 0.5em

        @media(max-width: $md)
          margin-right: 0
          margin-bottom: 0

        i
          color: $secondary-color

      @media(max-width: $lg)
        font-size: 16px

        .address
          display: none

      @media(max-width: $md)
        font-size: 18px


  #main-nav
    border-bottom: 1px solid rgba(#5DA0AA, 0.5)
    padding: 0

    @media(max-width: $md)
      border-top: 0


  #menu-primary
    flex: 1
    justify-content: space-between

    .menu-item
      a
        display: inline-block
        font-weight: 600
        font-size: 22px
        text-transform: uppercase
        color: $primary-color
        padding: 1.5em 0.5em
        @media (max-width: $xl)
          font-size: 20px
          padding: 1em 0.33em

      &.current-menu-item

        a
         color: $secondary-color

.home-banner
  height: 1080px
  background-image: url('../../images/home-banner.jpg')
  background-size: cover

  @media(max-width: $lg)
    background-position: top -350px center