html {
  overflow-x: hidden;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.25;
  height: 8000px;
  overflow-x: hidden;
}

.button {
  font-size: 1.4em;
  background-color: #223A47;
  color: #fff;
  border: 2px dashed #fff;
  border-radius: 0.25em;
  transition: all ease 0.25s;
  font-family: "Fredericka the Great", sans-serif;
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 0.25em 2.5em 0.25em 0.75em;
}
.button i {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1;
}
.button:hover {
  background-color: #5DA0AA;
  text-decoration: none;
}
@media (max-width: 1440px) {
  .button {
    font-size: 20px;
  }
}

.mobile-logo-holder {
  text-align: center;
  display: none;
  position: relative;
  z-index: 2000;
}
@media (max-width: 768px) {
  .mobile-logo-holder {
    display: block;
  }
}
.mobile-logo-holder img {
  width: 66%;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .mobile-logo-holder img {
    width: 85%;
  }
}

.reservation-btn {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 38px;
  border: 1px dotted #F27257;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  transition: 0.25s ease all;
  cursor: pointer;
  text-decoration: none;
}
.reservation-btn:hover {
  background: #F27257;
  color: #fff;
}
@media (max-width: 992px) {
  .reservation-btn {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .reservation-btn {
    display: none;
  }
  .reservation-btn.reservation-btn-mobile {
    display: block;
  }
}

#wrapper-navbar {
  margin-bottom: -360px;
  position: relative;
  z-index: 2000;
}
@media (max-width: 992px) {
  #wrapper-navbar {
    margin-bottom: 0;
  }
}
#wrapper-navbar .top-header-holder {
  height: 260px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder {
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
  }
}
@media (max-width: 768px) {
  #wrapper-navbar .top-header-holder {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
#wrapper-navbar .top-header-holder .navbar-toggler {
  padding: 1em 1em 0;
  display: none;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .navbar-toggler {
    display: block;
  }
}
#wrapper-navbar .top-header-holder .navbar-toggler:hover {
  background: rgba(93, 160, 170, 0.25);
}
#wrapper-navbar .top-header-holder .navbar-toggler .bar {
  height: 4px;
  border-radius: 4px;
  background: rgba(93, 160, 170, 0.5);
  margin-bottom: 4px;
  width: 2em;
}
#wrapper-navbar .top-header-holder .navbar-toggler .menu-title {
  font-size: 14px;
  margin-top: 2.5em;
  text-transform: uppercase;
  font-weight: 600;
}
#wrapper-navbar .top-header-holder .navbar-toggler.md-view {
  display: none;
}
@media (max-width: 768px) {
  #wrapper-navbar .top-header-holder .navbar-toggler {
    display: none;
  }
  #wrapper-navbar .top-header-holder .navbar-toggler.md-view {
    display: flex;
    padding: 0.5em;
    align-items: center;
    margin: -0.5em;
  }
  #wrapper-navbar .top-header-holder .navbar-toggler .menu-title {
    margin-top: 0;
    margin-right: 0.7em;
    font-size: 18px;
  }
  #wrapper-navbar .top-header-holder .navbar-toggler .bar {
    height: 3px;
    border-radius: 3px;
    background: rgba(93, 160, 170, 0.5);
    margin-bottom: 3px;
    width: 1em;
  }
}
#wrapper-navbar .top-header-holder .logo-holder {
  display: block;
}
#wrapper-navbar .top-header-holder .logo-holder img {
  width: 275px;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .logo-holder img {
    width: 200px;
  }
}
@media (max-width: 768px) {
  #wrapper-navbar .top-header-holder .logo-holder img {
    display: none;
  }
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .col-6 {
    text-align: center;
  }
}
#wrapper-navbar .top-header-holder .social-media-holder,
#wrapper-navbar .top-header-holder .social-media-holder-tablet {
  font-size: 50px;
}
#wrapper-navbar .top-header-holder .social-media-holder a,
#wrapper-navbar .top-header-holder .social-media-holder-tablet a {
  color: #F27257;
  text-decoration: none;
}
#wrapper-navbar .top-header-holder .social-media-holder a:hover,
#wrapper-navbar .top-header-holder .social-media-holder-tablet a:hover {
  color: #ea3812;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .social-media-holder,
#wrapper-navbar .top-header-holder .social-media-holder-tablet {
    display: none;
  }
}
#wrapper-navbar .top-header-holder .social-media-holder-tablet {
  display: none;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .social-media-holder-tablet {
    display: inline-block;
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  #wrapper-navbar .top-header-holder .social-media-holder-tablet {
    display: none;
  }
}
#wrapper-navbar .top-header-holder .contact-holder {
  font-size: 18px;
  font-weight: 600;
}
@media (max-width: 768px) {
  #wrapper-navbar .top-header-holder .contact-holder {
    display: flex;
    justify-content: space-between;
  }
}
#wrapper-navbar .top-header-holder .contact-holder a {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  color: #223A47;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .contact-holder a {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}
@media (max-width: 768px) {
  #wrapper-navbar .top-header-holder .contact-holder a {
    margin-right: 0;
    margin-bottom: 0;
  }
}
#wrapper-navbar .top-header-holder .contact-holder a i {
  color: #F27257;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .contact-holder {
    font-size: 16px;
  }
  #wrapper-navbar .top-header-holder .contact-holder .address {
    display: none;
  }
}
@media (max-width: 768px) {
  #wrapper-navbar .top-header-holder .contact-holder {
    font-size: 18px;
  }
}
#wrapper-navbar #main-nav {
  border-bottom: 1px solid rgba(93, 160, 170, 0.5);
  padding: 0;
}
@media (max-width: 768px) {
  #wrapper-navbar #main-nav {
    border-top: 0;
  }
}
#wrapper-navbar #menu-primary {
  flex: 1;
  justify-content: space-between;
}
#wrapper-navbar #menu-primary .menu-item a {
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: #223A47;
  padding: 1.5em 0.5em;
}
@media (max-width: 1440px) {
  #wrapper-navbar #menu-primary .menu-item a {
    font-size: 20px;
    padding: 1em 0.33em;
  }
}
#wrapper-navbar #menu-primary .menu-item.current-menu-item a {
  color: #F27257;
}

.home-banner {
  height: 1080px;
  position: relative;
  background-image: url("../../images/home-banner.jpg");
  background-position: top center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 115px;
}
@media (max-width: 1440px) {
  .home-banner {
    padding-bottom: 100px;
  }
}
@media (max-width: 992px) {
  .home-banner {
    padding-bottom: 75px;
    margin-top: -200px;
  }
}
@media (max-width: 768px) {
  .home-banner {
    padding-bottom: 60px;
    margin-top: -100px;
  }
}
.home-banner:before {
  content: "";
  display: block;
  height: 230px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0), white);
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
}
.home-banner:after {
  content: "";
  display: block;
  height: 230px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}
@media (max-width: 1440px) {
  .home-banner:after {
    height: 200px;
  }
}
@media (max-width: 992px) {
  .home-banner:after {
    height: 150px;
  }
}
@media (max-width: 768px) {
  .home-banner:after {
    height: 125px;
  }
}
@media (max-width: 992px) {
  .home-banner {
    height: 650px;
  }
}
@media (max-width: 768px) {
  .home-banner {
    height: 450px;
  }
}
@media (max-width: 576px) {
  .home-banner {
    height: 300px;
  }
}
.home-banner h1 {
  font-size: 100px;
  font-family: "Fredericka the Great", sans-serif;
  position: relative;
  z-index: 999;
}
@media (max-width: 1440px) {
  .home-banner h1 {
    font-size: 90px;
  }
}
@media (max-width: 992px) {
  .home-banner h1 {
    font-size: 72px;
  }
}
@media (max-width: 768px) {
  .home-banner h1 {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .home-banner h1 {
    font-size: 36px;
  }
}

.home-call-to-action.home-about-images,
.home-about-images.home-about-images {
  transform: translateY(-75%);
  position: relative;
  z-index: 500;
}
@media (max-width: 1440px) {
  .home-call-to-action.home-about-images,
.home-about-images.home-about-images {
    transform: translateY(-100%);
  }
}
@media (max-width: 992px) {
  .home-call-to-action.home-about-images,
.home-about-images.home-about-images {
    transform: translateY(-115%);
  }
}
@media (max-width: 768px) {
  .home-call-to-action.home-about-images,
.home-about-images.home-about-images {
    display: none;
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .home-call-to-action,
.home-about-images {
    text-align: center;
  }
}
.home-call-to-action .call-to-action,
.home-about-images .call-to-action {
  border-radius: 50%;
  background: #F27257;
  padding-bottom: 100%;
  position: relative;
  display: block;
}
@media (max-width: 768px) {
  .home-call-to-action .call-to-action,
.home-about-images .call-to-action {
    width: 66%;
    padding-bottom: 66%;
    display: inline-block;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .home-call-to-action .call-to-action,
.home-about-images .call-to-action {
    width: 85%;
    padding-bottom: 85%;
  }
}
.home-call-to-action .call-to-action .image,
.home-about-images .call-to-action .image {
  background-image: url("../../images/call-to-action-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  transition: all ease 0.25s;
  opacity: 0.85;
}
@media (max-width: 1440px) {
  .home-call-to-action .call-to-action .image,
.home-about-images .call-to-action .image {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
}
.home-call-to-action .call-to-action .title,
.home-about-images .call-to-action .title {
  font-size: 28px;
  position: absolute;
  bottom: 45px;
  left: 50%;
  right: -15px;
  text-align: center;
  padding: 0.25em;
  background-color: #5DA0AA;
  color: #fff;
  border: 2px dashed #fff;
  border-radius: 0.25em;
  transition: all ease 0.25s;
  font-family: "Fredericka the Great", sans-serif;
}
@media (max-width: 1440px) {
  .home-call-to-action .call-to-action .title,
.home-about-images .call-to-action .title {
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .home-call-to-action .call-to-action .title,
.home-about-images .call-to-action .title {
    left: 0;
    right: 0;
    bottom: -10%;
  }
}
@media (max-width: 768px) {
  .home-call-to-action .call-to-action .title,
.home-about-images .call-to-action .title {
    bottom: 45px;
    left: 50%;
    right: -15px;
  }
}
.home-call-to-action .call-to-action.second,
.home-about-images .call-to-action.second {
  background-color: #5DA0AA;
}
.home-call-to-action .call-to-action.second .image,
.home-about-images .call-to-action.second .image {
  background-image: url("../../images/call-to-action-2.jpg");
}
.home-call-to-action .call-to-action.second .title,
.home-about-images .call-to-action.second .title {
  background-color: #223A47;
}
.home-call-to-action .call-to-action.third,
.home-about-images .call-to-action.third {
  background-color: #223A47;
}
.home-call-to-action .call-to-action.third .image,
.home-about-images .call-to-action.third .image {
  background-image: url("../../images/call-to-action-3.jpg");
}
.home-call-to-action .call-to-action.third .title,
.home-about-images .call-to-action.third .title {
  background-color: #F27257;
}
.home-call-to-action .call-to-action:hover .title,
.home-about-images .call-to-action:hover .title {
  left: 0;
  background-color: rgba(255, 255, 255, 0.85);
  color: #223A47;
}
.home-call-to-action .call-to-action:hover .image,
.home-about-images .call-to-action:hover .image {
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 1;
}

.home-welcome,
.home-about,
.home-subscribe {
  margin-top: 120px;
  margin-bottom: 120px;
}
@media (max-width: 768px) {
  .home-welcome,
.home-about,
.home-subscribe {
    padding-bottom: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 576px) {
  .home-welcome,
.home-about,
.home-subscribe {
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
}
.home-welcome .title-holder,
.home-about .title-holder,
.home-subscribe .title-holder {
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(93, 160, 170, 0.5);
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .home-welcome .title-holder,
.home-about .title-holder,
.home-subscribe .title-holder {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}
@media (max-width: 576px) {
  .home-welcome .title-holder,
.home-about .title-holder,
.home-subscribe .title-holder {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}
.home-welcome h2,
.home-about h2,
.home-subscribe h2 {
  line-height: 1;
  font-family: "Fredericka the Great", sans-serif;
  font-size: 72px;
}
.home-welcome h2 span,
.home-about h2 span,
.home-subscribe h2 span {
  font-family: "Pacifico", sans-serif;
  font-size: 160px;
  display: block;
  color: #FFB5A6;
  transform: translate(140px, -30px);
}
@media (max-width: 992px) {
  .home-welcome h2 span,
.home-about h2 span,
.home-subscribe h2 span {
    font-size: 120px;
    transform: translate(120px, -25px);
  }
}
@media (max-width: 768px) {
  .home-welcome h2 span,
.home-about h2 span,
.home-subscribe h2 span {
    font-size: 60px;
    transform: translate(60px, 0px);
  }
}
@media (max-width: 576px) {
  .home-welcome h2 span,
.home-about h2 span,
.home-subscribe h2 span {
    font-size: 48px;
    transform: translate(30px, 0px);
  }
}
@media (max-width: 1440px) {
  .home-welcome h2,
.home-about h2,
.home-subscribe h2 {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .home-welcome h2,
.home-about h2,
.home-subscribe h2 {
    font-size: 36px;
  }
}
.home-welcome p,
.home-about p,
.home-subscribe p {
  line-height: 2em;
  padding-bottom: 1em;
  font-weight: 300;
}
.home-welcome p.tagline,
.home-about p.tagline,
.home-subscribe p.tagline {
  font-size: 24px;
  color: #5DA0AA;
  font-weight: 600;
  line-height: 1.5;
}
@media (max-width: 992px) {
  .home-welcome p.tagline,
.home-about p.tagline,
.home-subscribe p.tagline {
    font-size: 18px;
  }
}
.home-welcome.home-subscribe,
.home-about.home-subscribe,
.home-subscribe.home-subscribe {
  background: #223A47;
}
.home-welcome.home-about,
.home-about.home-about,
.home-subscribe.home-about {
  position: relative;
  padding-top: 150px;
  padding-bottom: 300px;
  margin-top: 0;
}
@media (max-width: 1440px) {
  .home-welcome.home-about,
.home-about.home-about,
.home-subscribe.home-about {
    padding-bottom: 250px;
  }
}
@media (max-width: 992px) {
  .home-welcome.home-about,
.home-about.home-about,
.home-subscribe.home-about {
    padding-top: 100px;
    padding-bottom: 200px;
  }
}
@media (max-width: 768px) {
  .home-welcome.home-about,
.home-about.home-about,
.home-subscribe.home-about {
    padding-top: 75px;
    padding-bottom: 125px;
  }
}
@media (max-width: 576px) {
  .home-welcome.home-about,
.home-about.home-about,
.home-subscribe.home-about {
    padding-top: 75px;
    padding-bottom: 100px;
  }
}
.home-welcome.home-about h2,
.home-about.home-about h2,
.home-subscribe.home-about h2 {
  color: #fff;
  position: relative;
}
.home-welcome.home-about .title-holder,
.home-about.home-about .title-holder,
.home-subscribe.home-about .title-holder {
  border-bottom: 1px solid rgba(93, 160, 170, 0.5);
  position: relative;
}
.home-welcome.home-about .title-holder span,
.home-about.home-about .title-holder span,
.home-subscribe.home-about .title-holder span {
  color: #5DA0AA;
  transform: translate(100px, -25px);
}
.home-welcome.home-about p,
.home-about.home-about p,
.home-subscribe.home-about p {
  color: #fff;
}
.home-welcome.home-about p.tagline,
.home-about.home-about p.tagline,
.home-subscribe.home-about p.tagline {
  color: #5DA0AA;
}
.home-welcome.home-about .bg-image,
.home-about.home-about .bg-image,
.home-subscribe.home-about .bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../images/about-background.jpg");
  background-size: cover;
}
.home-welcome.home-about .bg-image .top-overlay,
.home-about.home-about .bg-image .top-overlay,
.home-subscribe.home-about .bg-image .top-overlay {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  display: flex;
}
.home-welcome.home-about .bg-image .bottom-overlay,
.home-about.home-about .bg-image .bottom-overlay,
.home-subscribe.home-about .bg-image .bottom-overlay {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: -3px;
}
.home-welcome.home-about .button,
.home-about.home-about .button,
.home-subscribe.home-about .button {
  background: #F27257;
}
.home-welcome.home-about .button:hover,
.home-about.home-about .button:hover,
.home-subscribe.home-about .button:hover {
  background: #ea3812;
}

.home-news {
  padding-top: 200px;
  padding-bottom: 200px;
  position: relative;
}
@media (max-width: 1440px) {
  .home-news {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .home-news {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.home-news h2 {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 60px;
  margin-bottom: 0.5em;
  color: #F27257;
}
@media (max-width: 992px) {
  .home-news h2 {
    font-size: 36px;
  }
}
.home-news p {
  line-height: 2;
  font-weight: 300;
}
@media (max-width: 992px) {
  .home-news p {
    line-height: 1.5;
  }
}
.home-news .bg-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../images/news-bg.jpg");
  opacity: 0.5;
}
.home-news .bg-image:before {
  content: "";
  position: absolute;
  display: block;
  height: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
@media (max-width: 1440px) {
  .home-news .bg-image:before {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .home-news .bg-image:before {
    height: 50px;
  }
}
.home-news .bg-image:after {
  content: "";
  position: absolute;
  display: block;
  height: 200px;
  bottom: 200px;
  left: 0;
  right: 0;
  background: linear-gradient(to bottom, transparent, white);
}
@media (max-width: 1440px) {
  .home-news .bg-image:after {
    height: 100px;
    bottom: 100px;
  }
}
@media (max-width: 768px) {
  .home-news .bg-image:after {
    height: 50px;
    bottom: 50px;
  }
}
.home-news .news-img {
  border-radius: 50%;
  background: #223A47;
  padding-bottom: 100%;
  position: relative;
  display: block;
}
@media (max-width: 768px) {
  .home-news .news-img {
    width: 66%;
    padding-bottom: 66%;
    display: inline-block;
    margin-bottom: 15px;
  }
}
@media (max-width: 576px) {
  .home-news .news-img {
    width: 85%;
    padding-bottom: 85%;
  }
}
.home-news .news-img .image {
  background-image: url("../../images/news-placeholder.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  border-radius: 50%;
  transition: all ease 0.25s;
  opacity: 0.85;
}
@media (max-width: 1440px) {
  .home-news .news-img .image {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
}
.home-news .news-img .date,
.home-news .news-img .category {
  font-size: 28px;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 0.5em;
  background-color: #5DA0AA;
  color: #fff;
  border: 2px dashed #fff;
  border-radius: 0.25em;
  transition: all ease 0.25s;
  font-family: "Fredericka the Great", sans-serif;
}
@media (max-width: 992px) {
  .home-news .news-img .date,
.home-news .news-img .category {
    font-size: 18px;
    bottom: -60px;
  }
}
@media (max-width: 768px) {
  .home-news .news-img .date,
.home-news .news-img .category {
    bottom: 15px;
  }
}
.home-news .news-img .date.category,
.home-news .news-img .category.category {
  bottom: initial;
  top: 15px;
  background: #F27257;
}
@media (max-width: 992px) {
  .home-news .news-img .date.category,
.home-news .news-img .category.category {
    top: -60px;
    bottom: initial;
  }
}
@media (max-width: 768px) {
  .home-news .news-img .date.category,
.home-news .news-img .category.category {
    top: 15px;
  }
}
.home-news .news-img:hover .title {
  background-color: rgba(255, 255, 255, 0.85);
  color: #223A47;
}
.home-news .news-img:hover .image {
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  opacity: 1;
}
.home-news .button {
  margin-top: 50px;
}
@media (max-width: 992px) {
  .home-news .button {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .home-news .button {
    margin-top: 10px;
  }
}

.home-testimonials {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-top: -400px;
}
.home-testimonials h2 {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 72px;
}
.home-testimonials .testimonial-holder {
  padding: 60px;
  background: #F27257;
  color: #fff;
  margin-top: 50px;
  border-radius: 30px;
  font-size: 24px;
  font-weight: 300;
  line-height: 2;
  border: 2px dashed #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
}
.home-testimonials .separator {
  height: 1px;
  background: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.home-testimonials .author {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 30px;
}
.home-testimonials .bg-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../../images/testimonials-bg.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}