body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.25;
}

#wrapper-navbar {
  margin-bottom: -360px;
}
@media (max-width: 992px) {
  #wrapper-navbar {
    margin-bottom: 0;
  }
}
#wrapper-navbar .top-header-holder {
  height: 260px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder {
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
  }
}
#wrapper-navbar .top-header-holder .navbar-toggler {
  padding: 1em 1em 0;
  display: none;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .navbar-toggler {
    display: block;
  }
}
#wrapper-navbar .top-header-holder .navbar-toggler:hover {
  background: rgba(93, 160, 170, 0.25);
}
#wrapper-navbar .top-header-holder .navbar-toggler .bar {
  height: 4px;
  border-radius: 4px;
  background: rgba(93, 160, 170, 0.5);
  margin-bottom: 4px;
  width: 2em;
}
#wrapper-navbar .top-header-holder .navbar-toggler .menu-title {
  font-size: 14px;
  margin-top: 2.5em;
  text-transform: uppercase;
  font-weight: 600;
}
#wrapper-navbar .top-header-holder .logo-holder {
  display: block;
}
#wrapper-navbar .top-header-holder .logo-holder img {
  width: 275px;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .logo-holder img {
    width: 200px;
  }
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .col-6 {
    text-align: center;
  }
}
#wrapper-navbar .top-header-holder .social-media-holder,
#wrapper-navbar .top-header-holder .social-media-holder-tablet {
  font-size: 50px;
}
#wrapper-navbar .top-header-holder .social-media-holder a,
#wrapper-navbar .top-header-holder .social-media-holder-tablet a {
  color: #F27257;
  text-decoration: none;
}
#wrapper-navbar .top-header-holder .social-media-holder a:hover,
#wrapper-navbar .top-header-holder .social-media-holder-tablet a:hover {
  color: #ea3812;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .social-media-holder,
#wrapper-navbar .top-header-holder .social-media-holder-tablet {
    display: none;
  }
}
#wrapper-navbar .top-header-holder .social-media-holder-tablet {
  display: none;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .social-media-holder-tablet {
    display: inline-block;
    font-size: 18px;
  }
}
#wrapper-navbar .top-header-holder .contact-holder {
  font-size: 18px;
  font-weight: 600;
}
#wrapper-navbar .top-header-holder .contact-holder a {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  color: #223A47;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .contact-holder a {
    margin-right: 0.5em;
    margin-bottom: 0.5em;
  }
}
#wrapper-navbar .top-header-holder .contact-holder a i {
  color: #F27257;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .contact-holder {
    font-size: 16px;
  }
  #wrapper-navbar .top-header-holder .contact-holder .address {
    display: none;
  }
}
#wrapper-navbar .top-header-holder .reservation-btn {
  font-family: "Fredericka the Great", sans-serif;
  font-size: 38px;
  border: 1px dotted #F27257;
  display: inline-block;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  transition: 0.25s ease all;
  cursor: pointer;
  text-decoration: none;
}
#wrapper-navbar .top-header-holder .reservation-btn:hover {
  background: #F27257;
  color: #fff;
}
@media (max-width: 992px) {
  #wrapper-navbar .top-header-holder .reservation-btn {
    font-size: 18px;
  }
}
#wrapper-navbar #main-nav {
  border-top: 1px solid rgba(93, 160, 170, 0.5);
  border-bottom: 1px solid rgba(93, 160, 170, 0.5);
  padding: 0;
}
#wrapper-navbar #menu-primary {
  flex: 1;
  justify-content: space-between;
}
#wrapper-navbar #menu-primary .menu-item a {
  display: inline-block;
  font-weight: 600;
  font-size: 22px;
  text-transform: uppercase;
  color: #223A47;
  padding: 1.5em 0.5em;
}
@media (max-width: 1440px) {
  #wrapper-navbar #menu-primary .menu-item a {
    font-size: 20px;
    padding: 1em 0.33em;
  }
}
#wrapper-navbar #menu-primary .menu-item.current-menu-item a {
  color: #F27257;
}

.home-banner {
  height: 1080px;
  background-image: url("../../images/home-banner.jpg");
  background-size: cover;
  background-position: bottom center;
}
@media (max-width: 992px) {
  .home-banner {
    background-position: top -350px center;
  }
}